a.navbar-brand h1 {
  font-size: 2rem;
}

.color-primary {
  color: #ffe800;
}

body {
  font-family: "Titillium Web", sans-serif;
  overflow-x: hidden;
  background: #00161f;
}

.navbar-nav a.nav-link:hover {
  color: #ffe800;
}

.fancy_heading {
  color: #ffe800;
  text-align: center;
  position: relative;
  width: 50%;
  margin-bottom: 25px;
}

.fancy_heading:before {
  content: "";
  width: 100%;
  background: #ffe800;
  height: 2px;
  left: 0;
  position: absolute;
  top: 50%;
}

.fancy_heading span {
  padding: 0 10px;
  background: #00161f;
  z-index: 9;
  position: relative;
  display: inline-block;
}

p {
  color: #a8a8a8;
}

#contact form textarea,
#contact form input {
  width: 100%;
  margin: 10px 0;
  background: #ffffff17;
  color: white;
  border: 0;
  resize: none;
  padding: 10px;
  border-radius: 5px;
}

.hero-image img {
  width: 100%;
  max-width: 200px;
  border-radius: 50%;
}

button.fancy_btn .icon {
  display: inline-block;
  padding: 10px;
  background: #ffe800;
  color: #00161f;
}

button.fancy_btn .text {
  padding: 10px 20px;
  border-radius: 5px;
}

button.fancy_btn {
  padding: 0;
  color: #46005d;
  border: 3px solid #ffe800;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  z-index: 9;
}

button.fancy_btn:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  top: -30px;
  border-radius: 50%;
  left: -100px;
  background: #ffe800;
  z-index: 7;
  transition: 0.2s;
}

button.fancy_btn:hover:before {
  left: calc(100% - 10px);
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #002737;
}

::-webkit-scrollbar-thumb {
  background: #745700;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9d7600;
}

.first_page {
  height: calc(100vh - 100px);
}

@media (max-width: 576px) {
  body {
    text-align: center;
  }

  .fancy_heading {
    width: 100%;
  }
}
